.row {
  background: #FEFEFE;
  border: 2px solid #ECECEC;
  border-bottom: 0;

  display: grid;
  justify-items: stretch;
  align-items: stretch;

  color: rgb(80, 80, 80);
  font-weight: 500;
  font-size: 16px;
}

.row h5 {
  font-size: 12px;
  font-weight: 700;
  color: rgba(80, 80, 80, 0.5);
  width: 100%;

  margin: -15px -15px 15px -15px;
  padding: 5px 15px;
  background: #FBFBFB;
  border-bottom: 2px solid #ECECEC;
}

.row svg {
  /*transform: scale(0.15);*/
  float: left;
  width: 40px;
  margin-right: 15px; 
}

.column {
  padding: 15px;
}

.column-content {
  display: flex;
  align-items: center;
  height: calc(100%);
}

.column-content.hovered {
  background: #FAFAFA;
  margin:-15px;
  padding: 15px;
}

.host-name:hover {
  cursor: pointer;
}

.row:first-of-type {
  border-radius: 3px 3px 0 0;
}

.row:first-of-type .column .column-content {
  height: calc(100% - 26px);
}

.row:last-of-type {
  border: 2px solid #ECECEC;
  border-radius: 0 0 3px 3px;
  margin-bottom: -2px;
}

.row.first {
  border-bottom: 2px solid #ECECEC;
  border-radius: 3px;
  margin:0;
}

.sub {
  font-size: 12px;
  display: block;
  font-weight: 500;
  color: rgba(80,80,80, 0.4);
}

.render-actions p {
  display: inline;
}

.render-actions svg {
  width: 15px;
  height: 18px;
  float: right;
  margin-right:0;
  margin-left: 10px;
}

/*ENTER/LEAVE TRANSITIONS*/
.host-transition-appear {
  opacity: 0.01;
}

.host-transition-appear.host-transition-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.host-transition-enter {
  opacity: 0.01;
}

.host-transition-enter.host-transition-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.host-transition-leave {
  opacity: 1;
}

.host-transition-leave.host-transition-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}